<h1>Task details</h1>

<ul>
  <li><strong>Title:</strong> <%= @task.title %></li>
  <li><strong>Details:</strong> <%= @task.details %></li>
  <% if @task.completed == false %>
  <li><strong>Status</strong> To do!</li>
  <% else %>
  <li><strong>Status</strong> Done</li>
  <% end %>
</ul>
<%= link_to 'edit this task', edit_task_path %>
<%= link_to 'back to the list', tasks_path %>
